---
---

.columns {
  display: flex;
  align-items: center;
}

.columns_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  text-align: center;
}

.column {
  flex: 1;
}

.column50 {
  flex: 1;
  min-width: 50%;
  img {
    max-width: 80% !important;
    transition: transform 0.25s ease;
  }
  margin-bottom: 1em;
}

.column33 {
  flex: 1;
  min-width: 33%;
  margin-bottom: 1em;
}

.magnify {
  img:hover {
      transform: scale(1.1);
  }
}

.center-image {
    margin: 0 auto;
    display: block;
}

.footnote {
    font-size: 0.7em;
}

table {
  border-width: 0.15em 0;
  border-color: black;
  tr {
    &:nth-child(even) {
      background: none;
    }
  }
  td {
      border: 0;
  }
  th {
      border-width: thin 0;
      border-color: black;
      background: none;
  }
  th, td {
      padding: 0.4em 0.8em;
  }
}

.autowidth {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

$base-font-size:   16px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

.post-content {
  h1 {
    @include relative-font-size(1.75);
    @include media-query($on-laptop) {
      @include relative-font-size(1.5);
    }
  }
  h2 {
    @include relative-font-size(1.25);
    @include media-query($on-laptop) {
      @include relative-font-size(1.15);
    }
  }
}

.box-16-9 {
    //width: 100vw;
    //height: calc(100vw * 9 / 16);
    //overflow: hidden;
}

.live-wrapper {
    h2 {
        margin-bottom: 0;
    }
    padding: 0 2em;
    .column1, .column2 {
        text-align: left;
        flex: 1;
        img {
            margin: 0 auto;
            display: block;
            height: calc(36vw * 9 / 16);
            text-align: center;
        }
        margin-bottom: 1.5em;
    }
    .column1 {
        min-width: 50%;
    }
    .column2 {
        min-width: 50%;
    }

    .columns-wrap {
        margin-top: 0;
    }
}

.virtual-display-link {
    padding: 0.3em;
    text-align: center;
    border: 3px black solid;
}
